@use "./variables" as *;

//projects

.projects {
    padding: 5rem 0 12rem 0;
    .projectTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 9rem;
        padding-bottom: 6rem;
        .projectAdjs {
            text-align: right;
            text-transform: uppercase;
            padding-right: 0.5rem;
            p {
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                font-weight: 400;
                padding-left: 0.3rem;
                font-size: 1.34rem;
            }
        }
    }
    .projectContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        padding: 8rem 0;
        .project {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .mockUp {
                position: relative;
                width: 60%;
                object-fit: cover;
                .projectImg {
                    width: 100%;
                    border-radius: 2rem;
                    border: 2px solid $white;
                }
                .projectIcon {
                    position: absolute;
                    width: 55%;
                    bottom: -20%;
                    left: -15%;;
                }
                .cartAppMobile {
                    position: absolute;
                    height: 120%;
                    bottom: -10%;
                    left: -4%;
                    border-radius: 1.5rem;
                    border: 3px solid green;
                }
                .strideCastLogo {
                    position: absolute;
                    width: 30%;
                    bottom: -20%;
                    left: -5%;
                }
                .projectIconMobile {
                    display: none;
                }
            }
            .projectInfo {
                width: 40%;
                padding-left: 3em;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .projectTitle {
                    all: revert;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    h3 {
                    text-transform: uppercase;
                    font-family: $secondaryFont;
                    font-size: 2.7rem;
                    margin-bottom: 1rem;
                    }
                    .projectLinks {
                    display: flex;
                    align-items: center;
                    }
                    .arrowUpRight, .gitHubProject {
                        font-size: 1.5rem;
                        color: $yellow; 
                        margin-left: 0.5rem;
                        transition: all 0.25s;
                        &:hover {
                            color: $purple;
                        }
                    }
                }
                .projectDescription {
                    p {
                    line-height: 1.68rem;
                    letter-spacing: 0.05rem;
                    margin: 1.5rem 0 2rem 0;
                    }
                    .tools {
                        display: flex;
                        li {
                            margin-right: 1rem;
                            font-size: 1.5rem;
                            color: $purple;
                        }
                    }
                }
            }
        }
    }
}

//feedback

.firstQuote {
    margin-top: 7rem;
}
.secondQuote {
    margin-bottom: 7rem;
}

.feedback {
    background-color: $yellow;
    color: $black;
    font-style: italic;
    padding: 5rem 0;
    position: relative;
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .quoteSymbol {
            color: $white;
            font-size: 6rem;
            font-family: $tertiaryFont;
            font-style: normal;
            position: absolute;
            top: 12%;
        }
        .quote {
            font-weight: 600;
            padding-top: 2rem;
            text-align: center;
            line-height: 1.68rem;
            padding-top: 2rem;
        }
        .quoteCredit {
            width: 100%;
            font-size: 0.8rem;
            padding-top: 3rem;
            text-align: center;
            line-height: 1.17rem;
            a {
                color: $black;
                font-weight: 700;
                
                &:hover {
                    font-style: normal;
                    text-decoration: underline;
                    text-decoration-thickness: 1.5px;
                }
            }
        }
    }
}

//about

.about {
    .ourStoryCover {
        position: relative;
        .purpleStrip {
            height: 45vh;
            background-color: $purple;
            color: $black;
            display: flex;
            align-items: center;
            p {
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                font-weight: 500;
                padding-left: 0.3rem;
                font-size: 1.34rem;
            }
            .aboutImgContainer {
                position: absolute;
                width: 50%;
                left: 45%;
                top: 50%;
                transform: translate(-50%, -50%);
                img {
                    width: 100%;
                }
            }
        }
    }
    .ourStory {
        padding: 8rem 0;
        text-align: center;
        h4 {
            width: 75%;
            margin: 2rem auto;
        }
        h3, h4 {
            font-family: $secondaryFont;
            text-transform: uppercase;
            font-size: 1.68rem;
            line-height: 2.4rem;
        }
        p {
            padding-bottom: 2rem;
            line-height: 1.68rem;
        }
        .fakeBtn {
            margin: 0 auto;
        }
    } 
}

