@use "./variables" as *;

@media (max-width: 1179px) {
    header {
        height: 70vh;
        .wrapper {
            height: 100%;
        }
    }

    header .wrapper .hero {
        display: flex;
        height: 100%;
        .heroText {
            padding: 4rem 0;
            width: 100%;
            width: 40%;
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 1.34rem;
            }
        }
        .heroImg {
            width: 60%;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }

    header .wrapper .sideBarIcons {
        right: 0.5%;
        .faIcons {
            font-size: 1rem;
        }
        .backToTopBtn {
            padding: 0.45rem;
        }
    }

    header .wrapper .headerBackText {
        font-size: 24rem;
    }

    .feedback .wrapper {
        padding: 0 4rem;
    }

    .projects {
        padding: 0;
    }

    .projects .wrapper .projectTitle {
        justify-content: center;
        padding: 8rem 0 3rem 0;
        .projectBackText {
            top: 13%;
            right: -73%;
            font-size: 15rem;
        }
    }

    .projects .projectContainer {
        padding: 5rem 0;
        .project {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .mockUp {
                width: 85%;
            }
            .projectInfo {
                margin-top: 10rem;
                padding: 0;
                width: 85%;
                .arrowUpRight {
                    font-size: 1.68rem;
                }
                h3 {
                    margin-bottom: 1.5rem;
                    width: 100%;
                }
            }
        }
    }

    .about .ourStoryCover .blackStrip {
        height: 20vh;
        .storyBackText {
            font-size: 16rem;
            top: -30%;
        }
    }

    .about .ourStoryCover img {
        width: 155%;
    }

    .about .ourStory .ourStoryTextContainer {
        padding: 7rem 3rem;
        .ourStoryTextLeft {
            width: 47%;
        }
        .ourStoryTextRight {
            width: 47%;
            p {
                margin-bottom: 2rem;
            }
        }
    }

    footer {
        padding: 0;
        .footerMainTitle {
            width: 80%;
        }
    }
}

@media (max-width: 1080px) {

    header .wrapper .headerBackText {
        font-size: 22rem;
    }

    .firstQuote {
        margin-top: 2rem;
    }

    .projects {
        padding-bottom: 10rem;
    }

    .about .ourStoryCover .blackStrip {
        display: none;
        .storyBackText {
            display: none;
        }
    }

    .about .ourStoryCover .purpleStrip h2 {
        font-size: 4rem;
    }
    
    .about .ourStoryCover .purpleStrip {
        height: 40vh;
    };

    footer .wrapper .footerMainContainer .formContainer .footerBackText {
        display: none;
    }
}

@media (max-width: 940px) {

    header {
        height: auto;
    }

    header .wrapper .headerBackText {
        display: none;
    }

    header .wrapper .hero {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        .heroText {
            width: 100%;
            text-align: center;
            h1 {
                width: 80%;
                margin: 0 auto;
                padding-bottom: 1.5rem;
                font-size: 3rem;
            }
            h2 {
                font-size: 1.34rem;
                span {
                    font-size: 1.68rem;
                }
            }
            .fakeBtn {
                margin: 0 auto;
            }
        }
        .heroImg {
            width: 100%;
        }
    }

    .projects .projectTitle {
        padding-top: 5rem;
        .projectBackText {
            top: -10%;
            right: -80%;
            font-size: 15rem;
        }
    }
    
    .about .ourStoryCover .blackStrip .storyBackText {
        font-size: 13rem;
        right: -10%;
        top: -10%;
    }

    .about .ourStoryCover .purpleStrip {
        height: 40vh;
        h2 {
            font-size: 3.7rem;
        }
    }

    .about .ourStoryCover img {
        width: 190%;
        right: -30%;
    }
    .about .ourStory .ourStoryTextContainer {
        padding: 8rem 1.5rem;
    }

    footer .footerMainTitle {
        padding: 0 5rem;
    }

    footer .wrapper .footerMainContainer {
        flex-direction: column;
        padding-bottom: 2rem;
        .footerImgContainer {
            width: 100%;
            margin: 0 auto;
            img {
                width: 100%;
                text-align: right;
            }
            .colorStrip {
                height: 400px;
                left: 10%;
            }
        }
        .formContainer {
            width: 80%;
            padding-top: 5rem;
        }
    }
}

@media (max-width: 750px) {

    .projects {
        padding-bottom: 6rem;
    }

    .projects .projectTitle {
        padding-top: 5rem;
    }

    .projects .projectContainer {
        padding: 4rem 0;
    }

    
    .projects .wrapper .projectTitle .projectAdjs p {
        font-size: 1rem;
    }

    .projects .wrapper .projectTitle .projectBackText {
        font-size: 10rem;
        top: 13%;
        right: -15%;
    }

    .about .ourStoryCover .blackStrip .storyBackText {
        top: 30%;
        right: -5%;
        font-size: 12rem;
    }

    .about .ourStoryCover .purpleStrip {
        height: 35vh;
        h2 {
            font-size: 3rem;
        }
    }
    
    h2, footer .footerMainTitle {
        font-size: 4.02rem;
    }

    footer .footerMainTitle {
        font-size: 3.36rem;
        width: 70%;
    }

    footer .wrapper .footerMainContainer .formContainer .footerBackText {
        font-size: 12rem;
        top: -10%;
        right: -18%;
    }

    footer .wrapper .footerMainContainer .footerImgContainer .colorStrip {
        height: 350px;
    }

    footer .copyrightContainer .wrapper {
        flex-direction: column-reverse;
        text-align: center;
        .erikaCredit {
            padding-top: 0.5rem;

        }
    }
}

@media (max-width: 628px) {
    header {
        height: 100%;
        .wrapper .topNav nav {
            display: none;
        }
    }

    header .wrapper .headerBackText {
        left: 0%;
    }

    header .wrapper .hero .heroText h1 {
        font-size: 2.75rem;
    }

    .firstQuote {
        margin-top: 0;
    }

    .projects {
        .projectTitle {
            flex-direction: column-reverse;
            justify-content: center;
            padding-top: 10rem;
            .projectAdjs {
                text-align: center;
            }
            h2 {
                font-size: 5rem;
            }
        }
        .projectContainer {
            padding-top: 2rem;
        }
    }

    .projects .wrapper .projectTitle .projectBackText {
        font-size: 10rem;
        top: 35%;
        right: -15%;
    }
     
    .about .ourStoryCover .blackStrip .storyBackText {
        right: -10%;
        top: 0%;
    }

    .about .ourStoryCover img {
        right: -40%;
        width: 200%;
    }

    footer .footerMainTitle {
        font-size: 3.36rem;
        width: 90%;
        padding: 0 5rem;
    }

    footer .wrapper .footerMainContainer .footerImgContainer .colorStrip {
        height: 250px;
    }
}

@media (max-width: 505px) {

    header .wrapper .headerBackText {
        font-size: 18rem;
        right: -35%;
    }

    header .wrapper .sideBarIcons {
        display: none;
    }

    .projects .projectTitle .projectBackText {
        display: none;
    }

    .projects .projectContainer .project .mockUp {
        height: 225px;
    }

    .about .ourStoryCover .blackStrip {
        display: none;
    }

    .about .ourStoryCover .purpleStrip {
        height: 50vh;
        align-items: flex-start;
        padding-top: 2rem;
        margin-top: 3rem;
        text-align: center;
    }

    .about .ourStoryCover img {
        width: 200%;
        right: -15%;
    }

    footer .wrapper .footerMainContainer .formContainer 
    .footerBackText {
        display: none;
    }

    footer .wrapper .footerMainContainer .footerImgContainer .colorStrip {
        height: 200px;
    }

}

@media (max-width: 479px) {

    header .wrapper .headerBackText {
        font-size: 15rem;
        left: -13%;
    }

    .feedback .wrapper {
        padding: 0 2rem;
    }

    .projects .projectTitle h2 {
        font-size: 3.6rem;
    }

    .projects .wrapper .projectContainer .project .projectInfo {
        width: 300px;
        h3 {
            font-size: 2rem;
        }
    }

    .about .ourStory .ourStoryTextContainer {
        flex-direction: column;
        .ourStoryTextLeft {
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
            p {
                font-size: 1.34rem;
                line-height: 1.68rem;
            }
        }
        .ourStoryTextRight {
            width: 100%;
            text-align: center;
            .fakeBtn {
               margin: 0 auto;
            }
        }
    }

    footer .footerMainTitle {
        font-size: 3.36rem;
        width: 90%;
        padding: 0;
        justify-content: center;
    }

    footer .wrapper .footerMainContainer .formContainer {
        width: 90%;
    } 
    footer .copyrightContainer .wrapper {
        flex-direction: column-reverse;
        text-align: center;
        width: 70%;
    }
}

@media (max-width: 421px) {

    header .wrapper .hero .heroText h1 {
        font-size: 2.25rem;
    }
    .about .ourStoryCover .purpleStrip {
        height: 45vh;
        align-items: flex-start;
        padding-top: 2rem;
        margin-top: 3rem;
        text-align: center;
    }

}