@use "./variables" as *;

@media (max-width: 1200px) {
    header {
        height: 70vh;
        .wrapper {
            height: 100%;
             .hero {
                display: flex;
                height: 100%;
                .heroText {
                    padding: 4rem 0;
                    width: 100%;
                    width: 40%;
                    h1 {
                        font-size: 3rem;
                    }
                    h2 {
                        font-size: 1.34rem;
                    }
                }
                .heroImg {
                    width: 60%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
            }
            .sideBarIcons {
                right: 0.5%;
                .faIcons {
                    font-size: 1rem;
                }
                .backToTopBtn {
                    padding: 0.45rem;
                }
            }
        }
    }

    .feedback .wrapper {
        padding: 0 4rem;
    }

    .projects {
        .wrapper .projectTitle {
            justify-content: center;
            padding: 8rem 0 3rem 0;
        }
        .projectContainer {
            padding: 5rem 0;
            .project {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .mockUp {
                    width: 90%;
                }
                .projectInfo {
                    margin-top: 10rem;
                    padding: 0;
                    width: 85%;
                    .arrowUpRight {
                        font-size: 1.68rem;
                    }
                    h3 {
                        margin-bottom: 1.5rem;
                        width: 100%;
                    }
                }
            }
        }
    }

    .about .ourStoryCover .purpleStrip .aboutImgContainer {
        width: 70%;
    }

    footer {
        padding: 0;
        .footerMainTitle {
            width: 80%;
        }
    }
}

@media (max-width: 1080px) {

    .firstQuote {
        margin-top: 4rem;
    }

    .projects {
        padding-bottom: 10rem;
    }

    footer .wrapper .footerMainContainer .formContainer .footerBackText {
        display: none;
    }
}

@media (max-width: 940px) {

    header {
        height: auto;
        .wrapper .hero {
            flex-direction: column-reverse;
            width: 100%;
            height: auto;
            .heroText {
                width: 100%;
                text-align: center;
                padding: 1rem 0;
                h1 {
                    width: 80%;
                    margin: 0 auto;
                    padding-bottom: 1.5rem;
                    font-size: 2.5rem;
                }
                h2 {
                    font-size: 1.34rem;
                    span {
                        font-size: 1.68rem;
                    }
                }
                .fakeBtn {
                    margin: 0 auto;
                }
            }
            .heroImg {
                width: 85%;
            }
        }
        .headerBackText {
        display: none;
        }
    }

    .projects .projectTitle {
        padding-top: 5rem;
    }

    .projects .projectContainer {
        padding: 5rem 0;
        .project .projectInfo {
            margin-top: 6rem;
            }
        }
    }

    .projects .projectContainer .project .projectInfo .projectTitle h3 {
        font-size: 2rem;
    }

    .about .ourStoryCover .purpleStrip {
        padding-top: 2.5rem;
        align-items: flex-start;
    }

    .about .ourStoryCover .purpleStrip h2 {
            font-size: 2.5rem;
            align-self: flex-start;
    }

    footer .footerMainTitle {
        padding: 0 5rem;
    }

@media (max-width: 750px) {

    .projects {
        padding-bottom: 6rem;
    }

    .projects .projectTitle {
        padding-top: 5rem;
    }

    .projects .projectContainer {
        padding: 4rem 0;
    }

    
    .projects .wrapper .projectTitle .projectAdjs p {
        font-size: 1rem;
    }

    .projects .wrapper .projectTitle .projectBackText {
        display: none;
    }

    .about .ourStoryCover .purpleStrip h2 {
        font-size: 2rem;
    }

   .about .ourStory {
        padding: 4rem 0;
        h4 {
            width: 100%;
        }

   }

    h2, footer .footerMainTitle {
        font-size: 4.02rem;
    }

    footer .footerMainTitle {
        font-size: 3.36rem;
        width: 70%;
    }

    footer .wrapper .footerMainContainer {
        display: flex;
        flex-direction: column;
    }

    footer .wrapper .footerMainContainer .footerImgContainer {
        width: 100%;
    }


    footer .wrapper .footerMainContainer .formContainer .footerBackText {
        font-size: 12rem;
        top: -10%;
        right: -18%;
    }

    footer .copyrightContainer .wrapper {
        flex-direction: column-reverse;
        text-align: center;
        .erikaCredit {
            padding-top: 0.5rem;

        }
    }
}

@media (max-width: 628px) {
    header {
        height: 100%;
        .wrapper .topNav nav {
            display: none;
        }
    }

    header .wrapper .hero .heroText h1 {
        font-size: 2rem;
    }

    .feedback {
        padding: 6rem 0;
        border: 1px solid red;
    }

    .projects {
        padding-top: 0;
        .projectTitle {
            flex-direction: column-reverse;
            justify-content: center;
            .projectAdjs {
                text-align: center;
            }
            h2 {
                font-size: 3rem;
            }
        }
        .projectContainer {
            padding-top: 2rem;
        }
    }

    .projects .projectContainer .project .projectInfo .projectTitle h3 {
        font-size: 1.68rem;
    }

    footer .footerMainTitle {
        font-size: 3.36rem;
        width: 90%;
        padding: 0 5rem;
    }

    footer .wrapper .footerMainContainer .footerImgContainer .colorStrip {
        height: 250px;
    }
}

@media (max-width: 505px) {

    header .wrapper .sideBarIcons {
        display: none;
    }

    .projects {
        padding-bottom: 0;
    }

    .projects .projectContainer .project .mockUp {
        width: 95%;
    }

    .projects .projectContainer .project .projectInfo .projectDescription p {
        font-size: 0.95rem;
    }

    footer .wrapper .footerMainContainer .footerImgContainer .colorStrip {
        height: 200px;
    }
}

@media (max-width: 479px) {

    .feedback .wrapper {
        padding: 0 2rem;
    }

    .projects .projectTitle h2 {
        font-size: 3.6rem;
    }

    .projects .wrapper .projectContainer .project .mockUp {
        height: auto;
    }

    .projects .wrapper .projectContainer .project .projectInfo {
        margin-top: 4rem;
    }

    footer .wrapper .contactNav {
        display: none;
    }

    footer .footerMainTitle {
        font-size: 3.36rem;
        width: 90%;
        padding: 0;
        justify-content: center;
    }

    footer .wrapper .footerMainContainer .formContainer {
        width: 90%;
    } 
    
    footer .copyrightContainer .wrapper {
        flex-direction: column-reverse;
        text-align: center;
        width: 70%;
    }
}

@media (max-width: 420px) {

    header .wrapper .hero .heroText h1 {
        font-size: 2.25rem;
    }
}