//variables

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$tertiaryFont: 'BIZ UDPGothic', sans-serif;

$black: rgb(18, 18, 18);
$white: rgb(250, 250, 250);
$yellow: rgb(255, 179, 16);
$grey: rgb(101, 101, 101);
$purple: rgb(211,170,252);