html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

//variables

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$tertiaryFont: 'BIZ UDPGothic', sans-serif;

$black: rgb(18, 18, 18);
$white: rgb(250, 250, 250);
$yellow: rgb(255, 179, 16);
$grey: rgb(101, 101, 101);
$purple: rgb(240, 186, 240);

html {
    font-family: $primaryFont;
    font-size: 18px;
    color: $white;
    background-color: $black;
    scroll-behavior: smooth;
}

body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $white;
}

ul {
    list-style: none;
}

.logo {
    background-color: $yellow;
    color: $black;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.34rem;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

//header

header {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 5;
    .bgImg {
        background-image: url("../assets/erikaHeroImg.png");
        background-position: right 35% bottom 0%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .topNav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 10vh;
        nav ul {
            display: flex;
            margin-left: 1rem;
            li {
                margin-left: 1rem;
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 0.05rem;
            }
        }
    }
    .hero {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 3.36rem;
            font-family: $secondaryFont;
            text-transform: uppercase;
            padding: 1rem 0;
        }
        h2 {
            font-family: $primaryFont;
            font-weight: 400;
            font-size: 1.68rem;
            letter-spacing: 0.1rem;
            span {
                text-transform: uppercase;
                color: $white;
            }
        }
        button {
            text-transform: uppercase;
            border: 2px solid $yellow;
            padding: 0.5rem;
            height: 2rem;
            width: 120px;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
            background-color: $black;
            a {
                color: $yellow;
            }
        }
    }
    .headerBackText {
        font-size: 25rem;
        text-transform: uppercase;
        color: $grey;
        opacity: 0.15;
        font-weight: 700;
        position: absolute;
        transform: rotate(-90deg);
        top: 10%;
        z-index: -5;
        -webkit-text-stroke: 0.4px $white;
    }
}

//projects

.projects {
    height: 100vh;
}

//feedback

.firstQuote {
    margin-top: 7rem;
}
.secondQuote {
    margin-bottom: 7rem;
}

.feedback {
    background-color: $yellow;
    color: $black;
    font-style: italic;
    height: 45vh;
    position: relative;
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10rem;
        .quoteSymbol {
            color: $white;
            font-size: 6rem;
            font-family: $tertiaryFont;
            font-style: normal;
            position: absolute;
            top: 12%;
        }
        .quote {
            font-weight: 600;
            padding-top: 2rem;
            text-align: center;
            line-height: 1.68rem;
        }
        .quoteCredit {
            width: 100%;
            font-size: 0.8rem;
            padding-top: 1rem;
            text-align: right;
            line-height: 1.17rem;
        }
    }
}

//about

.about {
    .ourStoryCover {
        position: relative;
        .blackStrip {
            height: 30vh;
            .storyBackText {
                font-size: 17rem;
                text-transform: uppercase;
                color: $grey;
                font-weight: 700;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -5;
                opacity: 0.15;
                -webkit-text-stroke: 0.4px $white;
            }
        }
        .purpleStrip {
            height: 45vh;
            background-color: $purple;
            color: $black;
            display: flex;
            align-items: center;
            p {
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                font-weight: 500;
                padding-left: 0.3rem;
                font-size: 1.34rem;
            }
            h2 {
                font-size: 5.04rem;
                text-transform: uppercase;
                font-family: $secondaryFont;
            }
        }
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60%
        }
    }
    .ourStory {
        display: flex;
        justify-content: center;
        .ourStoryTextContainer {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 9rem 0;
            .ourStoryTextLeft {
                width: 30%;
                text-align: right;
                font-family: $secondaryFont;
                font-size: 1.68rem;
                text-transform: uppercase;
                h3 {
                    margin-bottom: 2rem;
                    font-size: 2.02rem;
                }
                p {
                    line-height: 2.7rem;
                }
            }
            .ourStoryTextRight {
                width: 60%;
                p {
                    line-height: 1.34rem;
                }
            }
        }
    } 
}

//footer

footer {
    height: 100vh;
    position: relative;
    .wrapper {
        height: 95vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 5rem 0 3rem 0;
        .handImg {
            position: absolute;
            left: 6%;
            top: 8%;
            width: 55%;
        }
    }
    .col1 {
        width: 18%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .footerTextContainer {
            height: 28%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            nav {
                text-transform: uppercase;
                li {
                    line-height: 1.34rem;
                }
                a {
                    color: $grey;
                    font-size: 0.8rem;
                }
            }
        }
        .yellowBlock {
            height: 28%;
            background-color: $purple;
            border-radius: 10px;
        }
    }
    .col2 {
        width: 18%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .blankBlock {
            height: 28%;
        }
        .yellowBlock {
            height: 28%;
            background-color: $purple;
            border-radius: 10px;
        }
    } 
    .col3 {
        width: 18%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .blankBlock {
            height: 28%;
        }
        .yellowBlock {
            height: 28%;
            background-color: $purple;
            border-radius: 10px;
        }
    } 
    .formContainer {
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h2 {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.3rem;
            font-size: 1.34rem;
            margin-bottom: 1.5rem;
            span {
                font-size: 5.04rem;
                font-family: $secondaryFont;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            input, textarea {
                padding: 0.75rem;
                margin-bottom: 1rem;
                border-radius: 6px;
            }
            input[type=text]::placeholder,
            textarea::placeholder {
                font-size: 0.8rem;
            }
            textarea {
                height: 20vh;
            }
            button {
                border: 3px solid $yellow;
                color: $yellow;
                background-color: $black;
                width: 30%;
                margin: 0 auto;
                padding: 0.5rem;
                text-transform: uppercase;
                margin-bottom: 6rem;
            }
        }
        .erikaCredit {
            text-transform: uppercase;
            text-align: right;
            font-size: 0.9rem;
            color: $grey;
        }
        .dimpleCredit {
            text-align: right;
            padding-top: 1rem;
            font-size: 0.75rem;
            color: $grey;
            a {
                color: $grey;
            }
        }
    }  
    .footerBackText {
        font-size: 17rem;
        font-weight: 700;
        color: $grey;
        opacity: 0.15;
        text-transform: uppercase;
        -webkit-text-stroke: 0.4px $white;
        position: absolute;
        right: -5%;
        top: 25%;
    }
    .copyright {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: $grey;
        font-size: 0.8rem;
        border-top: 1px solid $grey;
    }
}



