html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgb(250, 250, 250);
  background-color: rgb(18, 18, 18);
}

body, h1, h2, ul, p {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

ul {
  list-style: none;
}

.logo {
  background-color: rgb(255, 179, 16);
  color: rgb(18, 18, 18);
  padding: 1rem;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.34rem;
}

header {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 5;
}
header .bgImg {
  background-image: url("../assets/erikaHeroImg.png");
  background-position: right 35% bottom 0%;
  background-size: contain;
  background-repeat: no-repeat;
}
header .topNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
}
header .topNav nav ul {
  display: flex;
  margin-left: 1rem;
}
header .topNav nav ul li {
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.05rem;
}
header .hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .hero h1 {
  font-size: 3.36rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 1rem 0;
}
header .hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.68rem;
  letter-spacing: 0.1rem;
}
header .hero h2 span {
  text-transform: uppercase;
  color: rgb(250, 250, 250);
}
header .hero button {
  text-transform: uppercase;
  color: rgb(255, 179, 16);
  border: 2px solid rgb(255, 179, 16);
  padding: 0.5rem;
  height: 2rem;
  width: 120px;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  background-color: rgb(18, 18, 18);
}
header .headerBackText {
  font-size: 25rem;
  text-transform: uppercase;
  color: rgb(101, 101, 101);
  opacity: 0.3;
  font-weight: 700;
  position: absolute;
  transform: rotate(-90deg);
  top: 10%;
  z-index: -5;
}

.projects {
  height: 100vh;
}

.feedback {
  margin-top: 10rem;
  background-color: rgb(255, 179, 16);
  color: rgb(18, 18, 18);
  font-style: italic;
  height: 45vh;
  position: relative;
}
.feedback .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}
.feedback .wrapper .quoteSymbol {
  color: rgb(250, 250, 250);
  font-size: 6rem;
  font-family: "BIZ UDPGothic", sans-serif;
  font-style: normal;
  position: absolute;
  top: 15%;
}
.feedback .wrapper .quote {
  font-weight: 500;
  padding-top: 2rem;
  text-align: center;
  line-height: 1.34rem;
}
.feedback .wrapper .quoteCredit {
  width: 100%;
  font-size: 0.8rem;
  padding-top: 1rem;
  text-align: right;
}