html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

//variables

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$tertiaryFont: 'BIZ UDPGothic', sans-serif;

$black: rgb(18, 18, 18);
$white: rgb(250, 250, 250);
$yellow: rgb(255, 179, 16);
$grey: rgb(101, 101, 101);
$purple: rgb(240, 186, 240);

html {
    font-family: $primaryFont;
    font-size: 16px;
    color: $white;
    background-color: $black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $white;
}

ul {
    list-style: none;
}

.logo {
    background-color: $yellow;
    color: $black;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.34rem;
    width: 65px;
    height: 65px;
    border-radius: 32.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fakeBtn {
    width: 140px;
    text-transform: uppercase;
    border: 2px solid $yellow;
    height: 2rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    background-color: $black;
    color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    font-weight: 500;
    opacity: 0; /* Set initial opacity to 0 */
    animation: 1s ease-in 0.85s forwards myWork-rise; /* Use 'forwards' to keep the final state of the animation */
    &:hover {
        background-color: $yellow;
        color: $black;
    }
    @keyframes myWork-rise {
        0% {
            transform: scale(1, 1) translateY(0);
            opacity: 0;
            color: $white;
            border: 2px solid $white;
        }
        50% {
            transform: scale(1.05, 0.95) translateY(-1vh);
            opacity: 0.5;
            color: $white;
            border: 2px solid $white;
        }
        100% {
            transform: scale(1, 1) translateY(0);
            opacity: 1;
        }
    }
}

.slowReveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.25s ease-in-out;
}

.slowReveal.active {
    transform: translateY(0);
    opacity: 1;
}

.quickReveal {
    position: relative;
    transform: translateY(75px);
    opacity: 0;
    transition: all 1.15s ease-in-out;
}

.quickReveal.active {
    transform: translateY(0);
    opacity: 1;
}

//header

header {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 5;
    .wrapper {
        display: relative;
        .topNav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 12vh;
            nav ul {
                display: flex;
                margin-left: 1rem;
                li {
                    margin-left: 1rem;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 0.05rem;
                    a {
                        transition: all 0.25s ease;
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }
        .hero {
            height: 88vh;
            display: flex;
            .heroText {
                width: 35%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1 {
                    font-size: 3.7rem;
                    font-family: $secondaryFont;
                    text-transform: uppercase;
                    padding: 1rem 0;
                    margin-bottom: 1rem;
                    opacity: 0; /* Set initial opacity to 0 */
                    animation: 1.15s ease-in 0.5s forwards h1-rise; /* Use 'forwards' to keep the final state of the animation */
                }
                @keyframes h1-rise {
                    0% {
                        transform: scale(1, 1) translateY(0);
                        opacity: 0;
                    }
                    50% {
                        transform: scale(1.05, 0.95) translateY(-1vh);
                        opacity: 0.5;
                        color: $yellow;
                    }
                    100% {
                        transform: scale(1, 1) translateY(0);
                        opacity: 1;
                    }
                }
                h2 {
                    font-family: $primaryFont;
                    font-weight: 500;
                    font-size: 1.68rem;
                    letter-spacing: 0.2rem;
                    line-height: 2.25rem;
                    opacity: 0;
                    animation: 1.25s ease-in-out 0s forwards h2-slideIn;
                    span {
                        text-transform: uppercase;
                    }
                }
                @keyframes h2-slideIn {
                    0% {
                        transform: scale(1, 1) translateY(0);
                        opacity: 0;
                    }
                    50% {
                        transform: scale(1.05, 0.95) translateY(-1vh);
                        opacity: 0.5;
                        color: $yellow;
                    }
                    100% {
                        transform: scale(1, 1) translateY(0);
                        opacity: 1;
                    }
                }         
            }
            .heroImg {
                width: 65%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: right;
                }
            }
        }
        .socialIcons {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            bottom: 10%;
            right: 5%;
            .faIcons {
                color: $yellow;
                font-size: 1.25rem;
                background-color: $black;
                padding: 0.65rem;
                border-radius: 10rem;
                margin-bottom: 0.5rem;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.25s ease;
                &:hover {
                    background-color: $yellow;
                    color: $black;
                }
            }
            .backToTopBtn {
                font-size: 1.25rem;
                padding: 0.65rem;
                border-radius: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $yellow;
                background-color: $black;
                cursor: pointer;
                opacity: 0;
                transition: opacity 1s ease;
                margin-top: 2rem;
                border: 1px solid $yellow;
                &:hover {
                    background-color: $yellow;
                    color: $black;
                }
            }
        }
        .headerBackText {
            font-size: 25rem;
            text-transform: uppercase;
            color: $grey;
            opacity: 0.15;
            font-weight: 700;
            position: absolute;
            transform: rotate(-90deg);
            top: 10%;
            z-index: -5;
            -webkit-text-stroke: 0.4px $white;
        }
    }
}

//projects

.projects {
    padding: 5rem 0 10rem 0;
    .projectTitle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        padding-top: 11rem;
        .projectAdjs {
            text-align: right;
            text-transform: uppercase;
            padding-right: 0.5rem;
            p {
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                font-weight: 400;
                padding-left: 0.3rem;
                font-size: 1.34rem;
            }
        }
        h2 {
            font-size: 5.04rem;
            text-transform: uppercase;
            font-family: $secondaryFont;
            letter-spacing: 0.3rem;
            font-weight: 700;
        }
        .projectBackText {
            font-size: 17rem;
            text-transform: uppercase;
            color: $grey;
            opacity: 0.15;
            font-weight: 700;
            position: absolute;
            top: 22%;
            right: -88%;
            z-index: -5;
            -webkit-text-stroke: 0.4px $white;
        }
    }
    .projectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        padding-top: 15rem;
        .project {
            width: 1100px;
            height: 500px;
            display: flex;
            justify-content: space-between;
            .mockUp {
                width: 500px;
                background-color: $yellow;
            }
            .projectInfo {
                width: 500px;
                padding: 2rem 2rem 2rem 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: relative;
                .arrowUpRight {
                    font-size: 5rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $yellow;
                }
                h3 {
                    text-transform: uppercase;
                    font-family: $secondaryFont;
                    font-size: 2.7rem;
                }
                p {
                    line-height: 1.34rem;
                    letter-spacing: 0.1rem;
                }
                .tools {
                    display: flex;
                    li {
                        margin-right: 1rem;
                        font-size: 1.5rem;
                        color: $purple;
                    }
                }
            }
        }
    }
}

//feedback

.firstQuote {
    margin-top: 7rem;
}
.secondQuote {
    margin-bottom: 7rem;
}

.feedback {
    background-color: $yellow;
    color: $black;
    font-style: italic;
    height: 45vh;
    position: relative;
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10rem;
        .quoteSymbol {
            color: $white;
            font-size: 6rem;
            font-family: $tertiaryFont;
            font-style: normal;
            position: absolute;
            top: 12%;
        }
        .quote {
            font-weight: 600;
            padding-top: 2rem;
            text-align: center;
            line-height: 1.68rem;
        }
        .quoteCredit {
            width: 100%;
            font-size: 0.8rem;
            padding-top: 1rem;
            text-align: right;
            line-height: 1.17rem;
            a {
                color: $black;
                font-weight: 700;
                
                &:hover {
                    font-style: normal;
                    text-decoration: underline;
                    text-decoration-thickness: 1.5px;
                }
            }
        }
    }
}

//about

.about {
    .ourStoryCover {
        position: relative;
        .blackStrip {
            height: 30vh;
            .storyBackText {
                font-size: 17rem;
                text-transform: uppercase;
                color: $grey;
                font-weight: 700;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -5;
                opacity: 0.15;
                -webkit-text-stroke: 0.4px $white;
            }
        }
        .purpleStrip {
            height: 45vh;
            background-color: $purple;
            color: $black;
            display: flex;
            align-items: center;
            p {
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                font-weight: 500;
                padding-left: 0.3rem;
                font-size: 1.34rem;
            }
            h2 {
                font-size: 5.04rem;
                text-transform: uppercase;
                font-family: $secondaryFont;
                letter-spacing: 0.3rem;
                font-weight: 700;
            }
        }
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 60%
        }
    }
    .ourStory {
        display: flex;
        justify-content: center;
        .ourStoryTextContainer {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 12rem 0;
            .ourStoryTextLeft {
                width: 30%;
                text-align: right;
                font-family: $secondaryFont;
                font-size: 1.68rem;
                text-transform: uppercase;
                h3 {
                    margin-bottom: 2rem;
                    font-size: 2.02rem;
                }
                p {
                    line-height: 2.7rem;
                }
            }
            .ourStoryTextRight {
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p {
                    line-height: 1.34rem;
                }
            }
        }
    } 
}

//footer

footer {
    height: 100vh;
    position: relative;
    .footerMainTitle {
        font-size: 5.04rem;
        text-transform: uppercase;
        font-family: $secondaryFont;
        letter-spacing: 0.3rem;
        font-weight: 700;
        text-align: center;
        padding: 10rem 0 8rem 0;
        span {
            color: $yellow;
        }
    }
    .wrapper {
        height: 95vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 5rem 0 5rem 0;
        .handImg {
            position: absolute;
            left: 8%;
            top: 6%;
            width: 45%;
        }
    }
    .col1 {
        width: 18%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .footerTextContainer {
            height: 28%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            nav ul {
                text-transform: uppercase;
                li {
                    line-height: 1.34rem;
                    letter-spacing: 0.05rem;
                    a {
                        color: $grey;
                        font-size: 0.8rem;
                        transition: all 0.25s ease;
                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }
        .yellowBlock {
            height: 30%;
            background-color: $purple;
            border-radius: 10px;
        }
    }
    .col2 {
        width: 18%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .blankBlock {
            height: 28%;
        }
        .yellowBlock {
            height: 30%;
            background-color: $purple;
            border-radius: 10px;
        }
    } 
    .col3 {
        width: 18%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .blankBlock {
            height: 28%;
        }
        .yellowBlock {
            height:30%;
            background-color: $purple;
            border-radius: 10px;
        }
    } 
    .formContainer {
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //h2 {
            //text-transform: uppercase;
            //font-weight: 500;
            //letter-spacing: 0.3rem;
            //font-size: 1.34rem;
            //margin-bottom: 1.5rem;
            //span {
                //font-size: 5.04rem;
                //font-family: $secondaryFont;
            //}
        form {
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            input, textarea {
                padding: 0.75rem;
                margin-bottom: 1rem;
                border-radius: 6px;
                outline: none;
                &:focus {
                    border: 3px solid $yellow;
                }
            }
            input[type=text]::placeholder,
            textarea::placeholder {
                font-size: 0.8rem;
            }
            textarea {
                height: 30vh;
            }
            button {
                color: $yellow;
                background-color: $black;
                border: 2px solid $yellow;
                text-transform: uppercase;
                padding: 0.5rem;
                margin: 0 auto 9rem auto;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.25s ease;
                letter-spacing: 0.1rem;
                width: 100px;
                font-weight: 500;
                &:hover {
                    font-weight: 500;
                    background-color: $yellow;
                    color: $black;
                }
            }
        }
        .erikaCredit {
            text-transform: uppercase;
            text-align: right;
            font-size: 0.9rem;
            color: $grey;
            letter-spacing: 0.03rem;
            a {
                color: $grey;
                transition: all 0.25s ease;
                &:hover {
                    color: $yellow;
                }
            }
        }
        .dimpleCredit {
            text-align: right;
            font-size: 0.75rem;
            color: $grey;
            letter-spacing: 0.03rem;
            a {
                color: $grey;
                transition: all 0.25s ease;
                &:hover {
                    color: $yellow;
                }
            }
        }
    }  
    .footerBackText {
        font-size: 17rem;
        font-weight: 700;
        color: $grey;
        opacity: 0.15;
        text-transform: uppercase;
        -webkit-text-stroke: 0.4px $white;
        position: absolute;
        right: -5%;
        top: 50%;
    }
    .copyright {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: $grey;
        font-size: 0.8rem;
        border-top: 1px solid $grey;
        letter-spacing: 0.03rem;
    }
}



